# SPDX-FileCopyrightText: 2019 Project Quotient
# SPDX-License-Identifier: LGPL-2.1-only
#
# You may use this file under the terms of the LGPL-2.1 license
# See the file LICENSE from this package for details.

# This is the clang-format configuration style to be used by libQuotient.
# Inspired by:
# https://code.qt.io/cgit/qt/qt5.git/plain/_clang-format
# https://wiki.qt.io/Qt_Coding_Style
# https://wiki.qt.io/Coding_Conventions
# Further information: https://clang.llvm.org/docs/ClangFormatStyleOptions.html

# For convenience, the file includes commented out settings that we assume
# to borrow from the WebKit style. The values for such settings try to but
# are not guaranteed to coincide with the latest version of the WebKit style.

# This file assumes ClangFormat 13 or newer

---
Language: Cpp
BasedOnStyle: WebKit
#AccessModifierOffset: -4
AlignAfterOpenBracket: Align
#AlignArrayOfStructures: None # As of ClangFormat 14, Left doesn't work well
#AlignConsecutiveMacros: None
#AlignConsecutiveAssignments: None
#AlignConsecutiveDeclarations: None
AlignEscapedNewlines: Left
AlignOperands: Align
#AlignTrailingComments: false
#AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
#AllowAllParametersOfDeclarationOnNextLine: true
#AllowShortEnumsOnASingleLine: true
#AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
#AllowShortFunctionsOnASingleLine: All
#AllowShortLambdasOnASingleLine: All
#AllowShortIfStatementsOnASingleLine: Never
#AllowShortLoopsOnASingleLine: false
#AlwaysBreakAfterReturnType: None
#AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes
#AttributeMacros:
#  - __capability
#BinPackArguments: true
#BinPackParameters: true
BraceWrapping:
#  AfterCaseLabel:  false
#  AfterClass:      false
#  AfterControlStatement: Never
#  AfterEnum:       false
  AfterFunction:   true
#  AfterNamespace:  false
#  AfterStruct:     false
#  AfterUnion:      false
#  AfterExternBlock: false
#  BeforeCatch:     false
#  BeforeElse:      false
#  BeforeLambdaBody: false # 'true' blows up lambdas vertically, albeit they become _very_ readable
#  BeforeWhile:     false
#  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeBinaryOperators: NonAssignment
#BreakBeforeConceptDeclarations: true
BreakBeforeBraces: Custom
#BreakBeforeInheritanceComma: false # deprecated?
#BreakInheritanceList: BeforeColon
#BreakBeforeTernaryOperators: true
#BreakConstructorInitializersBeforeComma: false # deprecated?
#BreakConstructorInitializers: BeforeComma
#BreakStringLiterals: true
ColumnLimit: 100
#QualifierAlignment: Leave # ClangFormat 14 - except 'Leave', updates whole files
#CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
#ConstructorInitializerIndentWidth: 4
#ContinuationIndentWidth: 4
#Cpp11BracedListStyle: true
#DeriveLineEnding: true
#DerivePointerAlignment: false
#EmptyLineAfterAccessModifier: Never # ClangFormat 14
EmptyLineBeforeAccessModifier: LogicalBlock
FixNamespaceComments: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    '[</](events|jobs)/'
    Priority: 8
  - Regex:    '[</]csapi/'
    Priority: 12
  - Regex:    '^<(Quotient/)?.+\.h>'
    Priority: 16
  - Regex:    '^<Qt(Core|Network|Gui)/.+'
    Priority: 28
  - Regex:    '^<Qt.+(/.+)?'
    Priority: 24
  - Regex:    '^<'
    Priority: 32
  - Regex:    '.*'
    Priority: 1
IncludeIsMainRegex: '(_test)?$'
#IncludeIsMainSourceRegex: ''
#IndentAccessModifiers: false
#IndentCaseLabels: false
#IndentCaseBlocks: false
IndentGotoLabels: false
IndentPPDirectives: AfterHash
#IndentExternBlock: AfterExternBlock
IndentRequires: true
#IndentWidth: 4
#IndentWrappedFunctionNames: false
KeepEmptyLinesAtTheStartOfBlocks: false
#LambdaBodyIndentation: Signature
#MacroBlockBegin: ''
#MacroBlockEnd:   ''
#MaxEmptyLinesToKeep: 1
#NamespaceIndentation: Inner
PenaltyBreakAssignment: 10
PenaltyBreakBeforeFirstCallParameter: 70
PenaltyBreakComment: 45
#PenaltyBreakFirstLessLess: 120
#PenaltyBreakOpenParenthesis: 0 # ClangFormat 14
PenaltyBreakString: 200
#PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 40
PenaltyReturnTypeOnItsOwnLine: 200
#PenaltyIndentedWhitespace: 0
#PointerAlignment: Left
#PPIndentWidth: -1
#ReferenceAlignment: Pointer
#ReflowComments: true
ShortNamespaceLines: 20
#SortIncludes: true
#SortUsingDeclarations: true
#SpaceAfterCStyleCast: false
#SpaceAfterLogicalNot: false
#SpaceAfterTemplateKeyword: true
#SpaceBeforeAssignmentOperators: true
#SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
#SpaceBeforeCtorInitializerColon: true
#SpaceBeforeInheritanceColon: true
#SpaceBeforeParens: ControlStatements
#SpaceBeforeParensOptions: # ClangFormat 14
#  AfterControlStatements: true
#  AfterForeachMacros: true
#  AfterFunctionDefinitionName: false
#  AfterFunctionDeclarationName: false
#  AfterIfMacros:   true
#  AfterOverloadedOperator: false
#  BeforeNonEmptyParentheses: false
SpaceAroundPointerQualifiers: After
#SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyBlock: false
#SpaceInEmptyParentheses: false
#SpacesBeforeTrailingComments: 1
#SpacesInAngles: Never # 'false' before ClangFormat 13
#SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
#SpacesInCStyleCastParentheses: false
#SpacesInLineCommentPrefix:
#  Minimum:         1
#  Maximum:         -1
#SpacesInParentheses: false
#SpacesInSquareBrackets: false
#SpaceBeforeSquareBrackets: false
#BitFieldColonSpacing: Both
Standard: c++20
StatementAttributeLikeMacros:
  - Q_EMIT
  - emit
StatementMacros:
  - Q_UNUSED
  - QT_REQUIRE_VERSION
TabWidth: 4
#UseCRLF: false
#UseTab: Never
#WhitespaceSensitiveMacros: [] # Whatever's the default, not using it
...

