build
build_dir

.kdev4
.directory
CMakeLists.txt.user*
.idea
.cursor

flatpak/app
flatpak/.flatpak-builder
flatpak/repo

CMakeCache.txt
cmake_install.cmake
Makefile
quaternion_autogen/
.cmake/
.qmlls.ini
.cache

.DS_Store
