dist: trusty
language: cpp
compiler:
 - gcc
 - clang
before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -y qt5-default qtdeclarative5-dev
install:
 - mkdir build && cd build
 - cmake ..
script:
 - cmake --build . --target all

